<h1>Edit User</h1>
<%= form_for @user do |f| %>
  <p>
  <%= f.label "Your username here: " %>
  <%= f.text_field :username, placeholder: "username123" %>
  </p>
  <p>
  <%= f.label "Your e-mail: " %>
  <%= f.email_field :email, placeholder: "user@mail.com" %>
  </p>
  <p>
  <%= f.label "Password: " %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.submit "Sign up!" %>  
  </p>
<% end %>