<h1>New User</h1>

<%= form_tag("/users")do %>
<%= label_tag("user[username]", "User name") %>
<%= text_field_tag("user[username]") %>
<%= label_tag("user[email]", "Email") %>
<%= email_field_tag("user[email]") %>
<%= label_tag("user[password]", "password") %>
<%= password_field_tag("user[password]") %>
<%= submit_tag("Submit") %>
<% end %>
